:root {
    --hover-color: #555555;
    --hour-light-color: #333333;
    --hour-dark-color: #222222;
    --hour-border-bolor: #777;
    --hour-text-color: #ddd;
    --active-color: #223300;
    --currently-selected-color: #336622;
    --currently-selected-color-hover: #338822;
    --halfhour-border-color: #333;
    --halfhour-border-color-light: #777;
    --ghost-box-color: #118811;
    --time-text-color: #ddd;
    --hour-marked-available: #330033;

}

div.hour-light {
    width: 100%;
    border-top: solid 1px;
    border-color: var(--hour-border-bolor);
    background-color: var(--hour-light-color);
}

div.hour-disabled {
    width: 100%;
    border-top: solid 1px;
    border-color: var(--hour-border-bolor);
    background-color: var(--hour-dark-color);
}

div.full-hour {
    width: 100%;
    border-bottom: dashed 1px;
    border-color: var(--halfhour-border-color-light)
}

div.half-hour {
    width: 100%;
}

div.selected-availability {
    background-color: var(--currently-selected-color);
}

/* div.full-hour:hover, div.half-hour:hover {
    background-color: var(--hover-color);
} */

div.full-hour:not(.hour-disabled):active, div.half-hour:not(.hour-disabled):active {
    background-color: var(--active-color);
}

div.selected-availability:hover {
    background-color: var(--currently-selected-color-hover);
}

div.ghost-box {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.2);
    border: solid 1px;
    border-color: var(--ghost-box-color);
    border-radius: 4%;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

p.time-text {
    text-align: left;
    font-size: 0.65em;
    color: var(--time-text-color);
}

div.day-card {
    width: 120px;
    min-width: 120px;
    height: fit-content;
    overflow: visible;
}

div.availability-parent-box {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

div.availability-parent-stack {
    width: 100%;
    height: 500px;
    overflow: scroll;
}